.header {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:center;
    background-color: rgb(88, 189, 247);
    margin-bottom: 20px;

}
